body
	include navbar
	h1 Search User Messages:
	form(method="POST", action="/searchbar")
		label Firstname: 
			input(type=text, name="firstname", placeholder="firstname") 
		<br />
		label Lastname: 
			input(type=text, name="lastname", placeholder="lastname") 
		<br />
		label Email: 
			input(type=text, name="email", placeholder="email") 
		<br />
		button(type="submit", value= "Submit") Submit

	p Users: Rik, Aikman, Rikaikman@mail; Harry, Potter, Hp@mail